@import "tailwindcss";

.section1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 720px;
}

:root {
  --background: #FCFAF7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-prata: var(--font-prata), serif;
  --font-inter: var(--font-inter), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
